<!-- Card -->
<div class="cards">
  <mat-card >
    <app-card bg="orange" icon="person" description="Students" count="2000"></app-card>
  </mat-card>
  <mat-card >
    <app-card bg="red" icon="home" description="Institutions" count="100"></app-card>
  </mat-card>
  <mat-card >
    <app-card bg="green" icon="groups" description="Employees" count="500"></app-card>
  </mat-card>
  <mat-card >
    <app-card bg="blue" icon="dashboard" description="Placement" count="3000"></app-card>
  </mat-card>
</div>

<!-- Area chart -->
<div class="area">
  <app-chart></app-chart>
</div>

<!-- Table and piechart -->
<div class="tablepie">
  <!-- Table -->
  <div class="table">
    <app-table></app-table>
  </div>
  <!-- Piechart -->
  <div class="pie">
    <app-piechart></app-piechart>
  </div>
</div>
